.toolbar-wrapper {
  position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 2;
   box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.toolbar {
  background-color: #4747d1;
}
.logo {
  width: 50px;
  margin-left: 40px;
  cursor: pointer;
  outline: none;
  
}
.icon {
  color: white;
  margin: 10px 10px;
}
.fill-remaining-space {
  flex: 1 1 auto;
  color: white;
  font-size: 30px;
}
.auth-link {
  cursor: pointer;
  margin-right: 20px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}
.auth-link:hover,
.auth-link:active {
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  transition: 0.3s;
}



