.toolbar-wrapper {
  position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 2;
   box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.toolbar {
  background-color: #4747d1;
}
p {
  color: white;
}
h3 {
  color: white;
  font: 300 18px 'Cinzel', serif;
}
.logo {
  width: 50px;
  margin-left: 40px;
  cursor: pointer;
  outline: none;
}
.icon {
  color: white;
  margin: 15px 20px;
}
.fill-remaining-space {
  flex: 1 1 auto;
  color: white;
  font: 300 30px 'Cinzel', serif;
}
.auth-link {
  cursor: pointer;
  background:  #4747d1;
  margin-right: 20px;
  color:  white;
  border-radius: 10px;
  font-size: 16px;
}
.active {
  background: white;
  border: 1px solid #4747d1;
  color: #4747d1;
}




