.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }

  .card {
      max-width: 25%;
      max-height: 500px;
      margin: 20px auto;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}