.container {
  display: flex;
  flex-direction: column;
}
.name {
  text-align: center;
  font: 500 16px 'Cinzel', serif;
  color: #4747d1;
}
p {
  text-align: center;
}

.container > * {
  width: 100%;
}
.card {
  max-width: 25%;
  max-height: 500px;
  margin: 50px auto;
  border-radius: 10px;
}
.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.link {
  color: #4747d1;
  margin-top: 10px;
}
mat-form-field {
  margin-top: 20px;
}
