.card {
  margin: 50px auto;
  max-width: 400px;
  max-height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.footer {
  margin: 10px;
  display: flex;
  justify-content: center;
}
