.app-nav {
  position: absolute;
  top: 50px;
  bottom: 16px;
  left: 8px;
  right: 8px;
}
.wrapper {
  background-color: #4747d1;
  width: 200px;
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
}
a {
  padding: 10px 0;
  color: white;
  min-width: 150px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.container {
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.icon {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 3;
}

