.app-nav {
  position: absolute;
  top: 45px;
  bottom: 16px;
  left: 8px;
  right: 8px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #4747d1;
  width: 200px;
  text-align: center;
  padding-top: 30px;
  padding-left: 30px;
}
a {
  padding: 10px;
  margin-top: 5px;
  width: 50%;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.active {
  background: white;
  border-radius: 5px;
  color: #4747d1;
}
a:hover,
a:active {
  border: 1px solid white;
  border-radius: 10px;
  transition: 0.5s;
}
.container {
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.icon {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 3;
}

