<button class="icon" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="wrapper" mode="side">
    <a routerLinkActive="active" [routerLink]="['posts/my-post']">Home</a>
    <a  routerLinkActive="active" [routerLink]="['posts/all']">Posts</a>
    <a routerLinkActive="active" [routerLink]="['posts/detail']">Add post</a>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>