.card {
    max-width: 400px;
    width: 300px;
    border-radius: 10px;
    margin: 20px;
  }
  .card:hover {
    transform: scale(1.1,1.1);
    transition-timing-function: ease-out;
    transition-duration: 550ms;
  }
  .text {
    white-space: nowrap; 
    overflow: hidden; 
    padding: 5px; 
    text-overflow: ellipsis; 
  }

