<mat-card class="card">
  <mat-card-header class="head">
    <mat-card-title>
      <h3>Your Profile</h3>
      <mat-card-title class="title">{{user?.name}}</mat-card-title>
    </mat-card-title>
  </mat-card-header>
  <!--<img mat-card-image src="{{user?.avatar}}" alt="">-->
  <mat-card-content class="content">
      <div class="wrapper-img">
      <img  class="img" src="{{user?.avatar}}" alt="">
      </div>
      <div *ngIf="show" class="input">
        <input type="file" (change)="loadImg($event)" multiple>
      </div>
    <p>E-mail: {{user?.email}}</p>
  </mat-card-content>
  <mat-card-actions class="btn">
    <button mat-button color="primary" [routerLink]="['/posts/all']">Go to posts</button>
    <button mat-button color="primary" (click)="editAvatar()">Edit</button>
  </mat-card-actions>
</mat-card>

