.card {
    width: 400px;
    min-width: 400px;
    margin: 40px auto;
    border-radius: 10px;
}
.head {
    margin-bottom: 20px;
}
.title {
    margin: 10px;
    font-size: 20px;
}
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input {
margin-top: 10px;
}
.btn {
    text-align: center;
}
.wrapper-img {
  width: 130px;
  height: 130px;
  margin-left: 20px;
  overflow: hidden;
  border-radius: 50%;
 display: flex;
 justify-content: center;
}
.img {
    width: auto;
    height: 100%;
    margin: auto;
}