.card {
    width: 400px;
    min-width: 400px;
    margin: 40px auto;
    border-radius: 10px;
}
.head {
    margin-bottom: 20px;
}
.title {
    margin: 10px;
}
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}