.card {
    width: 300px;
    min-width: 300px;
    margin: 30px auto;
    border-radius: 10px;
}
.head {
    margin: 10px auto;
    text-align: center;
    width: 50%;
}
.title {
    margin: 10px;
    font-size: 20px;
}
.content {
    width: 50%;
    align-items: center;
    margin: auto;
}
.input {
margin-top: 10px;
}
.btn {
    text-align: center;
}
.wrapper-img {
  width: 130px;
  height: 130px;
  margin-left: 10px;
  overflow: hidden;
  border-radius: 50%;
 display: flex;
 justify-content: center;
}
.img {
    width: auto;
    height: 100%;
    margin: auto;
}