.container {
    width: 60%;
    max-height: 60%;
    margin: 40px auto;
}
.footer {
    margin: auto;
    text-align: center;
}
.text {
  font: 16px/20px 'Roboto', sans-serif;
  letter-spacing: .1px;
  padding: 10px;
}
