.container {
    max-width: 50%;
    max-height: 60%;
    margin: 40px auto;
}
.card {
    max-height: 60%;
}
.footer {
    margin: auto;
    text-align: center;
}
.text {
  font: 16px/20px 'Roboto', sans-serif;
  letter-spacing: .1px;
  padding: 10px;
}
.img-container {
    max-height: 550px;
  }
img {
    max-height: 550px;
    overflow: hidden;
    border-radius: 3px;
  }
